body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/*============ HEADER ============*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 80px;
    background-image: url('images/wood-bg.png');
    background-repeat: repeat-x;
}

#header img {
    display: block;
    margin: auto;
    height: 100%;
    padding-top: 15px;
}

/*============ TOP-TABS ============*/
#tabs-top {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: darkgreen;
}

#tabs-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tabs-top a {
    flex: 1;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 12px 0;
}

/*============ MAIN-HOME ============*/
#main-home {
    margin-top: 120px;
}
#main {
  margin-top: 130px; /* push it below the header + top tabs */
  padding-bottom: 60px; /* keep it above the bottom tabs */
}

/*============ BOTTOM-TABS ============*/
#tabs-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: forestgreen;
}

#tabs-bottom a {
    float: left;
    display: block;
    width: 100%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

/*============ MAIN ============*/
#main {
    margin-top: 119px;
    background: url('images/map-blur.png') repeat-y;
}

#content {
    padding-top: 1px;
    padding-bottom: 50px;
}

/*============ INFO BOX ============*/
a.info-box {
    text-decoration: none;
    background: rgba(255, 225, 55, 0.8);
    width: 90%;
    height: 90px;
    display: block;
    margin: 12px auto 0 auto;
    padding: 1px;
}

.info-box img {
    height: 70px;
    margin: 10px;
    float: left;
}

.info-box h3 {
    padding: 0;
    margin-bottom: 0;
    width: 90%;
    color: #572800;
}

.info-box p {
    margin: 0;
    padding: 0;
    width: 90%;
    color: #131313;
}

.info-box img.right {
    float: right;
    margin-top: 25px;
    height: 40px;
}

/*============= INFO BOX FULL ============*/
#info-box-full{
      background-color : rgba(255, 255, 255, .8) ;
      width   : 90%;
      display : block;
      margin  : auto;
      margin-top : 12px;
      padding    : 10px;
}



#info-box-full img{
      width : 100%;
}



#info-box-full h3{
      text-align : center;
}


/*================= WEATHER ==============*/

img.info-box-weather-icon{
     height : 30px;
     width  : 30px; important;
     margin : 10px;
     float  :left; 
}

h1.info-box-weather-icon{
     font-size  : 65px;
     font-weight: 200;
     padding    : 0;
     margin     : 0;
}
table{
    width: 100%;
}

td{
border-top: 1px solid #131313;
}


/*============= FORM ============*/

input{
      width: 100%;
      height: 25px;
      margin : 12px 0;
      border : 1px solid #929292;
}

textarea{
      width: 100%;
      height :65px;
      margin : 12px 0;
      border : 1px solid #929292;
}

.button{
      display : block;
      width: 100%;
      background-color: forestgreen;
      text-decoration : none;
      text-align  : center;
      color       : white;
      font-size   : 16px;
      font-weight : 600;
      margin : 12px 0;
      padding : 8px 0;
}

